<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-16x16.png" sizes="16x16" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="android-chrome-192x192.png" />
<meta name="msapplication-square70x70logo" content="android-chrome-192x192.png" />
<meta name="msapplication-square150x150logo" content="android-chrome-512x512.png" />
<meta name="msapplication-wide310x150logo" content="android-chrome-512x512.png" />
<meta name="msapplication-square310x310logo" content="android-chrome-512x512.png" />
