{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <style>
            .text-1, .text-2, .text-3 {
                font-size: 1.8em;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                outline: none;
            };

            .text-2 {
                font-size: 5.5em;
            }

            .text-3 {
                font-size: 2.5em;
                margin: 5px 0;
            }

        </style>
        <span class="text-1">Hello, my name is</span>
        <span class="text-1">{{ site.title }}</span>
        <span class="text-1">And I'm a </span><span class="text-2 typing-1"></span>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
